*  {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: grey;
}

main {
	padding: 5px;
	background-color: #E5F3F2;
}

h1 {
	text-align: center;
}

#idea-color {
	color: #00A79D;
}

#input-area {
	margin: 0 auto;
	width: 50%;
}

.input-field {
	width: 100%;
	margin: 10px 0;
	border: 1px solid #D1D3D4;
}

#output-area {
	margin: 0 auto;
	width: 50%;
}
